.block-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    border: 2px solid black;
}

.block {
    width: 400px;
    height: 400px;
}

.block-header {
    padding: 10px;
    text-transform: capitalize;
}

.block-list {
    list-style: none;
    padding-left: 10px;
}

.block-item-link {
    text-decoration: none;
}

